/*Body---------------------------*/

body {
    background-color: #F4F9F2;
    color: #535151;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}


/*Navbar-------------------------*/

.navbar {
    text-align: center;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #535151;
}

.name {
    font-size: 1.5em;
    padding-top: 15px;
}

.nav {
    padding: 0px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.nav li {
    list-style: none;
    display: block;
    background-color: #fff;
    margin: 5px 15px;
    padding: 5px;
}


/*Header------------------------------------*/

.header {
    text-align: center;
    margin: 20px 15px 40px 15px;
    color: #808181;
    font-size: 0.9em;
    letter-spacing: 0.4px;
    line-height: 1.5em;
}

.profile-image {
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
}


/*Section Project---------------------------*/

section {
    background-color: #fff;
    padding-bottom: 30px;
}

section h3 {
    text-align: center;
    padding-top: 40px;
    margin: 0;
    padding-bottom: 20px;
    font-size: 0.9em;
}

.project {
    /*height: 50px;*/
    /*border: 2px solid #000;*/
    /*box-shadow: inset 0 0 0 1px #000;*/
    width: 100%;
    min-height: 280px;
    text-align: center;
}

.project img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

.project h2 {
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 20px;
}

.project p {
    padding: 0 25px;
    font-size: 0.9em;
    letter-spacing: 0.4px;
    margin-right: 1px;
    line-height: 1.5em;
}


/*Section Contact---------------------------*/

.section-contact {
    padding-top: 20px;
    background-color: #F4F9F2;
}

.contact {
    text-align: center;
    color: #81807E;
    font-size: 0.9em;
    margin-right: 15px;
    margin-left: 15px;
    line-height: 1.5em;
}

.contact-info {
  list-style: none;
  padding: 0px;
  margin-top: 40px;
  text-align: center;
}

.contact-info li {
    margin: 20px;
    font-size: 0.9em;
}

.contact-info li a {
  color: #81807E;  
}


/*Footer -----------------------------------*/

footer {
  border-top: 1px solid lightgrey;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-name a {
    float: left;
    margin: 20px;
    margin-left: 5px;
    font-size: 0.8em;
    font-weight: 900;
    color: #535151;
}

.footer-button a {
    float: right;
    margin: 20px;
    margin-right: 5px;
    font-size: 0.7em;
    font-weight: 900;
    color: #535151;
    display: initial;
}

.footer-nav .nav {
    display: none;
}



/*Media Querie------------------------------*/
@media (min-width: 768px) {

/*Navbar -----------------------------------*/

.navbar {
    font-weight: 800;
    padding-top: 20px;
}

.nav li{
  display: inline-block;
  padding-right: 25px;
  background-color: #F4F9F2;
}

.name a {
    padding-left: 10px;
    
}


/*Header------------------------------------*/

.profile-image {
    max-width: 35%;
    margin: 20px 25px 45px 0px;
    float: right;
}

.header p {
    float: left;
    max-width: 55%;
    text-align: left;
    line-height: 1.5em;
    margin: 20px 0px 25px 25px;
    font-size: 1.2em;
}


/*Section Project---------------------------*/

.project {
    width: 48%;
    float: left;
    min-height: 360px;
    margin-left: 9.5px;
}

.project p {
    padding: 0 35px;
}

.clear {
    clear: both;
}

section h3 {
    padding-top: 50px;
    padding-bottom: 30px;
}


/*Section Contact ----------------------------*/

.contact {
    padding-left: 45px;
    padding-right: 45px;
    font-size: 1.2em;
    margin-right: 45px;
    margin-left: 45px;
}

.contact-info {
   font-size: 1.3em;
}


/*Footer -----------------------------------*/

footer {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer-name a {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
}

.footer-button {
    display: none;
}

.footer-nav .nav {
    display: initial;
    float: right;
    font-size: 0.9em;
    font-weight: 900;
    color: #535151;
}

.footer-nav li {
    padding-right: 0px;
}

.footer-nav a {
    color: #535151;
}

}

@media (min-width: 1024px) {


/*Navbar---------------------------------------*/

.nav {
    text-align: right;
    padding-right: 20px;
}

.nav li{
  display: inline-block;
  padding-right: 25px;
  font-size: 1.2em;
}

.nav a {
    margin-right: auto;
    margin-top: 15px;
}

.name a {
    float: left;
    padding-left: 25px;
    margin-left: 10px;
    font-size: 1.5em;
}


/*Header -----------------------------------*/

.profile-image {
    max-width: 40%;
}

.header p {
    max-width: 40%;
    font-size: 1.3em;
    max-width: 56%;
}


/*Section Project---------------------------*/

.project {
    width: 32%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
}

.project p {
    padding: 0 34px;
}

.contact {
    padding-left: 100px;
    padding-right: 100px;
    margin-right: 100px;
    margin-left: 100px;
}


/*Footer --------------------------------*/

.footer-name a {
    font-size: 1.1em;
    margin-left: 15px;
}


.footer-nav li {
    padding-right: 0px;
}

}
