/*Body---------------------------*/

body {
    background: #F4F9F2;
    color: #535151;
    font-family: 'Roboto', sans-serif;
}

/*Navbar-------------------------*/

.navbar {
    text-align: center;
}

a {
    text-decoration: none;
    color: #313131;
}

.name {
    font-size: 2em;
}

.nav {
    padding: 0px;
}

.nav li {
    list-style: none;
    display: block;
    background-color: #fff;
    margin: 5px;
    padding: 5px;
}

section {
    background-color: #fff;
}

.profile-image {
    max-width: 100%;
}

h3 {
    text-align: center;
    padding-top: 20px;
}

.project {
    height: 50px;
    /*border: 2px solid #000;*/
    box-shadow: inset 0 0 0 1px #000;
    width: 100%;
    min-height: 325px;
    text-align: center;
}

.project img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    
}

.project p {
    padding: 0 25px;
}


/*Media Querie------------------------------*/
@media (min-width: 768px) {

/*Navbar -----------------------------------*/

.nav li{
  display: inline-block;
  padding-right: 25px;
}

.name a {
    padding-left: 10px;
    margin-top: -8px;
}

/*Section Project---------------------------*/

.project {
    width: 48%;
    float: left;
    min-height: 330px;
   
}

.project p {
    padding: 0 55px;
}

.clear {
    clear: both;
}

}


@media (min-width: 1024px) {


/*Navbar---------------------------------------*/

.navbar {
    padding-right: 40px;
}

.nav {
    text-align: right;
}

.nav li{
  display: inline-block;
  padding-right: 25px;
}

.nav a {
    margin-right: auto;
    margin-top: 15px;
}

.name a {
    float: left;
    padding-left: 10px;
    margin-top: -8px;
}

.project {
    width: 32%;
}

.project p {
    padding: 0 34px;
}

}
