/*Section Portfolio-------------------------*/

.profile-image {
    max-width: 100%;
}

h3 {
    text-align: center;
}

.project {
    height: 50px;
    /*border: 2px solid #000;*/
    /*box-shadow: inset 0 0 0 1px #000;*/
    width: 100%;
    min-height: 300px;
    text-align: center;
}

.project img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    
}

.project p {
    padding: 0 25px;
}


/*Media Querie------------------------------*/
@media (min-width: 768px) {
    
.project {
    width: 48%;
    float: left;
    min-height: 330px;
   
}

.project p {
    padding: 0 55px;
}

.clear {
    clear: both;
}

}


@media (min-width: 1024px) {

.project {
    width: 32%;
}

.project p {
    padding: 0 34px;
}

}
