/*Body---------------------------*/

body {
    background-color: #F4F9F2;
    color: #535151;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/*Navbar-------------------------*/

.navbar {
    text-align: center;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #313131;
}

.name {
    font-size: 1.5em;
    padding-top: 15px;
}

.nav {
    padding: 0px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.nav li {
    list-style: none;
    display: block;
    background-color: #fff;
    margin: 5px 15px;
    padding: 5px;
}



/*Header------------------------------------*/


.header {
    text-align: center;
        margin: 20px;
}

.profile-image {
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
}


/*Section Project---------------------------*/

section {
    background-color: #fff;
}

h3 {
    text-align: center;
    padding-top: 20px;
}

.project {
    height: 50px;
    /*border: 2px solid #000;*/
    box-shadow: inset 0 0 0 1px #000;
    width: 100%;
    min-height: 325px;
    text-align: center;
}

.project img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    
}

.project p {
    padding: 0 25px;
}


/*Media Querie------------------------------*/
@media (min-width: 768px) {

/*Navbar -----------------------------------*/

.navbar {
    font-weight: 800;
    padding-top: 20px;
}

.nav li{
  display: inline-block;
  padding-right: 25px;
  background-color: #F4F9F2;
}

.name a {
    padding-left: 10px;
    
}


/*Header------------------------------------*/

.profile-image {
    max-width: 40%;
    margin: 20px 25px 25px 0px;
    float: right;
}

.header p {
    float: left;
    max-width: 45%;
    text-align: left;
    line-height: 1.5em;
    margin: 20px 0px 25px 25px;
}


/*Section Project---------------------------*/

.project {
    width: 48%;
    float: left;
    min-height: 360px;
    
}

.project p {
    padding: 0 55px;
}

.clear {
    clear: both;
}

}


@media (min-width: 1024px) {


/*Navbar---------------------------------------*/

.navbar {

}

.nav {
    text-align: right;
    padding-right: 20px;
}

.nav li{
  display: inline-block;
  padding-right: 25px;
  font-size: 1.2em;
}

.nav a {
    margin-right: auto;
    margin-top: 15px;
}

.name a {
    float: left;
    padding-left: 25px;
    font-size: 1.5em;
}


/*Section Project---------------------------*/

.project {
    width: 32%;
}

.project p {
    padding: 0 34px;
}

}
